/*
    this is a comment in CSS, it is a multi-line comment

    The following is the structure of CSS Styling Clauses

        selector{
            attribute-name1: value;
            attribute-name2: value;
        }

        in the selector, if no character comes before the tag name, then it will select ALL elements of that tag type
*/



body{
    background-color: rgb(70, 69, 69);
}

p{  /* this will grab all paragraph tags*/
    color: lightseagreen;
}




